<h1>Onlineshopping</h1>
<div class="parent">

    <div class="card" *ngFor="let shopping of onlineshopping">
        <div class="img">
            <img src="{{shopping.image}}" width="100%" height="100%">
        </div>
        <div class="content">
            <h3>{{shopping.category}}</h3>
            <h4>{{shopping.title | slice:0:45}}</h4>
            <h5>Rs.{{shopping.price}}</h5>
        </div>

        <div class="rating">
            <h6><app-rating [rating]="shopping.rating.rate"></app-rating></h6>
        </div>
    </div>

</div>