
    <h1>Employee Data</h1>

    <button (click)="bonus()">Add 50k Bonus</button>
    <input type="text" [(ngModel)]="filterData" (keyup)="search()">
    <select [(ngModel)]="role" (change)="roleFilter()">
        <option value="UIDeveloper">UIDeveloper</option>
        <option value="Software Developer">Software Developer</option>
        <option value="Data engineer">Data Engineer</option>
        <option value="Testing Engineer">Testing Engineer</option>
    </select>
    <button (click)="sort()">Sort Experience low to high</button>
    <button (click)="totalcost()" class="btn btn-success">Cost to the company</button>
<table class=" table table-dark">
    <thead>
        <tr>
            <th>S No</th>
            <th>Name</th>
            <th>Experience</th>
            <th>Package</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;let i=    index">
            <td>{{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.role}}</td>
            <td><button class="btn btn-danger" (click)="delete(i)">Delete</button></td>
            
        </tr>
    </tbody>

</table>
