.parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.middle{
    height: 60%;
    width:50%;
    background-color: white;
    text-align: center;
    padding: 20px;
}
.circle{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0 auto 10px;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.blue1{
    color: rgb(94, 94, 148);
}
.yellow1{
    color: rgb(255, 208, 0);
}
.green1{
    color: rgb(14, 149, 190);
}
.red1{
    color: rgb(202, 18, 172);
}