<!-- <img *ngIf="(rating>0)&&(rating<=1)" src="/assets/images/1 star.jpg" alt="1 star rating"><br> 
<img *ngIf="(rating>1)&&(rating<=2)" src="/assets/images/2 star.jpg" alt="2 star rating"><br>
<img *ngIf="(rating>2)&&(rating<=3)" src="/assets/images/3 star.jpg" alt="3 star rating"><br>
<img *ngIf="(rating>3)&&(rating<=4)" src="/assets/images/4 star.jpg" alt="4 star rating"><br>
<img *ngIf="(rating>4)&&(rating<=5)" src="/assets/images/5 star.jpg" alt="5 star rating">  -->


  <div class="star-rating">
  <ng-container *ngFor="let star of stars">
    <span>
      <ng-container *ngIf="star <= rating; else emptyStar">★</ng-container>
      <ng-template #emptyStar>☆</ng-template>
    </span>
  </ng-container>
</div>