<div class="parent">
    <div class="left">
        <h1>Dashboard</h1>
        <hr>
        <h2 routerLink="/dashboard/home">Home</h2>
        <h2 routerLink="/dashboard/clock">Clock</h2>
        <h2 routerLink="/dashboard/calculator">Calculator</h2>
        <h2 routerLink="/dashboard/databinding">Data Binding</h2>
        <h2 routerLink="/dashboard/directives">Directives</h2>
        <h2 routerLink="/dashboard/employee-data">Employee-Data</h2>
        <h2 routerLink="/dashboard/flipkart">Flipkart</h2>
        <h2 routerLink="/dashboard/vehicles">Vehicles</h2>
        <h2 routerLink="/dashboard/onlineshopping">Online Shopping</h2>
        <h2 routerLink="/dashboard/mail">Mail</h2>
        <h2 routerLink="/">Logout</h2>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>